.Banner-Slider.swiper-vertical {
    overflow: hidden;
    max-height: 80vh;
}

.Banner-Slider.swiper-vertical .swiper-slide img {
    filter: brightness(35%);
    height: inherit;
    object-fit: cover;
    width: 100vw;
}

.swiper-vertical>.swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
    z-index: 2;
}

.banner-section {
    position: relative;
}

.banner-section .banner {
    position: absolute;
    z-index: 2;
}

.Header {
    position: absolute;
    z-index: 3;
    top: 15px;
}

.Header a {
    color: #fff;
    font-weight: 600;
    border: 1px solid #FFF;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

.Header a:hover {
    background-color: #C19C60;
    border: 1px solid #C19C60;
}